#main-map{
  height: 700px;
  width: 700px;
  border-style: solid;
  border-color: black
}

body{
  background-color: #9fd9ff;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  left: 8px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}
